@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sketchit";
  src: local("SketchitMeansSketchit.ttf"), url("./assets//fonts/SketchitMeansSketchit.ttf") format("truetype");
}

body {
  color: #bbb;
  background: #111111;
}